.slickRightArrow {
    box-shadow: -1px 3px 2px 0px #0000004a;
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 49%;
    right: -3%;
    transform: translate(0, -50%);
    cursor: pointer;
    background: #f26522;
    height: 100px;
    padding-top: 25px;
}

.slickLeftArrow {
    box-shadow: -1px 3px 2px 0px #0000004a;
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 49%;
    left: -3%;
    transform: translate(0, -50%);
    cursor: pointer;
    background: #f26522;
    height: 100px;
    padding-top: 25px;
}
